/* .ForgotPassword {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
  margin: 4% 2%;
 
}

.fp1 {
    display: flex;
    justify-content: space-between;
  
  height: 20%;
  width: 25%;
  margin-top:7%;
  background-color: #f6f9ff;
  padding: 2% ;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}
#left_child{
    width: 100%;
   
}

#otp {
    
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border-color: #E7E7E7;
  background-color: #E7E7E7;
}

.proceed button {
  background-color: #4154f1;
}


.imagefp img{

    width:70%;
    margin: auto;
    display: block;
}

.imagefp{
    
   width:50% ;
}

.otpdiv{
    width: 100%;
  
} */

