.a1 {
  /* border: 2px solid pink; */
  display: flex;
  align-items: center;
  /* margin: 2% 6% !important; */
  margin:0 !important;
  padding: 0 !important;
}

#about {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  /* border: 1px solid !important; */
  margin: 2% 5% !important;
}
#about > div {
  width: 50%;
  /* border: 2px solid yellow; */
  margin-bottom: 10px;
}

.head_div {
  /* border: 2px solid blue; */
  margin: 0 0 0 2%;
}

.a2 {
  /* border: 2px solid black !important; */
  background-color: #f6f9ff;
  padding: 2% 5%;
}

.a2 p {
  line-height: 1.5rem !important;
}

.GetStartImage img {
  width: 80% !important;
  margin: auto;
}

.loginImage {
  width: 50% !important;
  /* border: 1px solid green; */
}

.contbtn {
  display: flex;
  gap: 2rem;
}
