*{
  margin:0%;
  padding:0%;
  width:100%;
}


.a1 {
  /* border: 2px solid pink; */
  display: flex;
  align-items: center;
  width:100%;
  /* margin: 2% 6% !important; */
  margin:0 !important;
  padding: 0 !important;
  /* border:2px solid rgb(11, 53, 221); */
}

#about {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  /* border: 1px solid !important; */
  /* margin: 2% 5% !important; */
}
#about > div {
  width: 50%;
  /* border: 2px solid yellow; */
  margin-bottom: 10px;
}

.head_div {
  /* border: 2px solid blue; */
  margin: 0 0 0 2%;
}

.a2 {
  /* border: 2px solid black !important; */
  background-color: #f6f9ff;
  padding: 2% 5%;
}

.a2 p {
  line-height: 1.5rem !important;
}

.GetStartImage img {
  width: 70% !important;
}

.loginImage {
  /* width: 50% !important; */
  /* border: 1px solid rgb(162, 24, 141); */
}

.loginImage img {
  /* border: 1px solid green; */
  width: 30rem;
  /* margin:auto; */
}

.contbtn {
  width:max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.a2 img{
   width:100%;
}

.a3 img{
  width:100%;
}

.a4 img{
  width: 100%;
  margin-bottom: 5%;
}

.footer{
  background-color: lightgray ;
  padding-top: 20px;
  border: 1px;
  box-shadow: 5px ;
  margin-top: 10px  ;
}