

.head {
  display: flex;
  justify-content: flex-start;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:76vh;
}

.loginfo {
  /* border:2px solid; */
  width: 30rem !important;
  margin-left: 10%;
}




.fp a {
  text-decoration: none;
  color: #6c757d;
}
