.head {
  display: flex;
  justify-content: flex-start;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76vh;
}

.loginfo {
  /* border:2px solid; */
  width: 30rem !important;
  margin-left: 10%;
}

.fp a {
  text-decoration: none;
  color: #6c757d;
}

@media (max-width: 768px) {
  .LoginPage {
    /* border: 2px solid green; */
    height: 74vh;
  }

  .login {
    /* border: 2px solid red; */
    display:flex;
    flex-direction: column;
    /* width:auto; */
  }

  .loginfo{
    /* border: 2px solid purple; */
    width:55vw !important;
    margin:auto;
  }
   .loginImage2 {
    /* border: 2px solid pink; */
    height:25vh;
    width: 100% !important;
    margin:auto;
  }
}
