.b1 {
  border: 2px solid;
  display: flex;
  justify-content: center;
}

.b2 {
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b3 {
  border: 2px solid pink;
}

.Payment {
  border:2px solid blue;
  width: 50%;
  margin: 1% auto;
  background-color: #f6f9ff;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  /* margin:1% 15%; */
}
