.Profile {
  /* border: 5px solid red; */
  height: 70vh;
  /* margin-top: 6rem; */
}
.p1 {
  display: flex;
  justify-content: center;
}

.card {
  /* border: 5px solid green; */
  padding: 1%;
  border-radius: 1%;
  width: 40%;
  margin: auto;
  margin-bottom: 5%;
  display: flex;
  gap: 15% !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  background-color: #f6f9ff;
}

.div1 img {
  width: 100%;
  object-fit: cover;
  height: 95%;
}
.div1 {
  width: 40%;
  display: flex;
  align-content: center;
}
.div2 {
  /* border:2px solid brown; */
  width: 60%;
  display: flex;
  padding: 0% 0% 5% 0%;
  flex-direction: column;
  justify-content: space-between;
  gap: 5% !important;
  margin: 0% !important;
}
.div2 button {
  width: 50%;
  padding: 5px !important;
}

p {
  margin: 0% !important;
}

@media (max-width: 768px) {
  .Profile {
    /* border: 2px solid green; */
    height: 70vh;
  }
  .card {
    /* border: 2px solid red; */
    width: 95%;
    display: flex;
    align-items: center;
  }
}
