.ManageUser {
  /* border: 3px solid green; */
  display: flex;
  height:100vh;
}

.users {
  margin: 2% 0 1% 4%;
  /* border: 5px solid pink; */
  width: 70%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.tablebody {
  margin-left: 5%;
  /* border: 3px solid brown; */
  width: fit-content;
 
  /* background-color: #f6f9ff; */
}

.addbtn {
 
  display: flex;
  justify-content: end;
  
}

.addbtn button {
  margin-right: 1%;
  width: max-content;
  background-color: #4318ff;
  color: #fff;
}

.userdetail{
  /* border:5px solid red; */
  height:70vh;
}


.userdetail table{
    background-color: #f6f9ff;
}